<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Conn" connectionString="Password=masterkey;Persist Security Info=True;User ID=sysdba;Initial Catalog=Teste;Data Source=MILA-PC"></add>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>